<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hive Select</title>

    <style>
    tr,td,th{
        border: 1px solid;
    }
    table{
        border-collapse: collapse;
    }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>


<div th:insert="fragment/UI::fraghHeader('Products')"></div>

<div id="container" class="container-fluid" style="width: 100%;">

    <div id="canvas"></div>

    <br/>
    <button id="stopDataset">Stop Processing</button>
</div>
<br/>

<script type="text/javascript" th:src="@{/main.js}">

</script>


</body>

</html>
